.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #258c3e;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #000000;
  font-size: 8rem;
  color: #f33636;
}

p {
  font-size: 2rem;
  color: #010b07;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}
.btn{
  margin: 50px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  font-family: 'Indie Flower', cursive; 
  font-size: 30px;
  background-color: white;
  color: rgb(8, 7, 7);
}
